<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled ="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Server.WCFServiceContract">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8731/"/>
            <add baseAddress="http://localhost:8732/"/> <!--This requires admin.  Remove this and mex endpoint if you don't want to elevate-->
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:8731/WCFService"
                  binding="netTcpBinding"
                  contract="Server.IService" />
        <endpoint address="http://localhost:8732/mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>